(
    balls: [
        (
            physics_radius: 28.0,
            view_width: 68.26667,
            view_height: 68.26667,
            image_asset_path: "images/kao/kao_01.png",
        ),
        (
            physics_radius: 34.5,
            view_width: 84.11429,
            view_height: 84.11429,
            image_asset_path: "images/kao/kao_02.png",
        ),
        (
            physics_radius: 43.5,
            view_width: 106.057144,
            view_height: 106.057144,
            image_asset_path: "images/kao/kao_03.png",
        ),
        (
            physics_radius: 55.0,
            view_width: 134.09525,
            view_height: 134.09525,
            image_asset_path: "images/kao/kao_04.png",
        ),
        (
            physics_radius: 69.0,
            view_width: 168.22858,
            view_height: 168.22858,
            image_asset_path: "images/kao/kao_05.png",
        ),
    ],
    drop_ball_level_max: 3,
    player: (
        view_width: 128.0,
        view_height: 128.0,
        offset_x: 0.0,
        offset_y: 25.0,
        image_asset_path: "images/kao/player.png",
        guide_color: Rgba(
            red: 0.3,
            blue: 0.9,
            green: 0.9,
            alpha: 0.7,
        ),

        speed: 4.0,
    ),
    bottle: (
        fg_image_asset_path: "images/bottle_fg_toriaezu.png",
        bg_image_asset_path: "images/bottle_bg_toriaezu.png",
    ),
    background: (
        bg_image_asset_path: "images/bg_toriaezu_1280x840.png",
        offset: (0.0, 0.0),
    ),
    ui: (
        hold_view: (
            bg_image_asset_path: "images/border1.png",
            border_width: 20.,
            font_color: Rgba(
                red: 0.0,
                blue: 0.0,
                green: 0.0,
                alpha: 1.0
            ),
        ),
        score_view: (
            bg_image_asset_path: "images/border1.png",
            border_width: 20.,
            font_color: Rgba(
                red: 0.0,
                blue: 0.0,
                green: 0.0,
                alpha: 1.0
            ),
        ),
        manual_view: (
            bg_image_asset_path: "images/border1.png",
            border_width: 20.,
            font_color: Rgba(
                red: 0.0,
                blue: 0.0,
                green: 0.0,
                alpha: 1.0
            ),
        ),
        popup: (
            bg_image_asset_path: "images/popup2_128x128_32.png",
            border_width: 32.0,
            font_color: Rgba(
                red: 1.0,
                blue: 1.0,
                green: 1.0,
                alpha: 1.0
            ),
            font_color_sub: Rgba(
                red: 0.9,
                blue: 1.0,
                green: 0.9,
                alpha: 1.0
            ),
        ),
    ),
    sounds: (
        bgm_asset_path: "sounds/bgm.ogg",
        bgm_scale: 0.15,
        se_combine_asset_path: "sounds/se_combine.ogg",
        se_combine_scale: 1.0,
    ),
    ball_physics: (
        friction: (
            dynamic_coef: 0.1,
            static_coef: 0.2,
        ),
        restitution: (
            coef: 0.05,
        ),
    ),
    bottle_physics: (
        friction: (
            dynamic_coef: 0.1,
            static_coef: 0.2,
        ),
        restitution: (
            coef: 0.05,
        ),
    ),
)
