(
    balls: [
        (
            physics_radius: 28.0,
            view_width: 68.26667,
            view_height: 68.26667,
            image_asset_path: "images/kao/kao_01.png",
        ),
        (
            physics_radius: 34.5,
            view_width: 84.11429,
            view_height: 84.11429,
            image_asset_path: "images/kao/kao_02.png",
        ),
        (
            physics_radius: 43.5,
            view_width: 106.057144,
            view_height: 106.057144,
            image_asset_path: "images/kao/kao_03.png",
        ),
        (
            physics_radius: 55.0,
            view_width: 134.09525,
            view_height: 134.09525,
            image_asset_path: "images/kao/kao_04.png",
        ),
        (
            physics_radius: 69.0,
            view_width: 168.22858,
            view_height: 168.22858,
            image_asset_path: "images/kao/kao_05.png",
        ),
        (
            physics_radius: 86.0,
            view_width: 209.6762,
            view_height: 209.6762,
            image_asset_path: "images/kao/kao_06.png",
        ),
        (
            physics_radius: 105.0,
            view_width: 256.0,
            view_height: 256.0,
            image_asset_path: "images/kao/kao_07.png",
        ),
        (
            physics_radius: 127.0,
            view_width: 309.6381,
            view_height: 309.6381,
            image_asset_path: "images/kao/kao_08.png",
        ),
        (
            physics_radius: 151.0,
            view_width: 368.1524,
            view_height: 368.1524,
            image_asset_path: "images/kao/kao_09.png",
        ),
        (
            physics_radius: 177.5,
            view_width: 432.76193,
            view_height: 432.76193,
            image_asset_path: "images/kao/kao_10.png",
        ),
        (
            physics_radius: 207.0,
            view_width: 504.68573,
            view_height: 504.68573,
            image_asset_path: "images/kao/kao_11.png",
        ),
    ],
    drop_ball_level_max: 4,
    player: (
        view_width: 128.0,
        view_height: 128.0,
        offset_x: 0.0,
        offset_y: 25.0,
        image_asset_path: "images/kao/player.png",

        speed: 4.0,
    ),
    sounds: (
        bgm_asset_path: "sounds/bgm.ogg",
        se_combine_asset_path: "sounds/se_combine.ogg",
    ),
)
